{
    "minimum_version": "1.6.0",
    "default_visible": [
        "material_ABS ZMORPH",
        "material_PLA ZMORPH",
        "material_PVA ZMORPH",
        "material_FLEX",
        "material_HIPS",
        "material_NYLON",
        "material_PET"
    ]
}